/* CSS declarations go here */
body{
	background: #136a8a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.MuiAppBar-colorPrimary-10 {
	background: #136a8a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.search {
	display: flex;
	justify-content: center;
	margin-top: 30vh;
}
.search > form {
	display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
	width: 100%;
}
.search > form input {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	width: 50%;
	height: 50px;
	border-radius: 10px;
	padding: 15px;
}
.search > form button {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	border: none;
	letter-spacing: 1.5px;
	width: 150px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	background: linear-gradient(to left, #267871, #136a8a);
	webkit-box-shadow: 5px 7px 6px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 5px 7px 6px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.15);
	transition: all 0.4s ease-in;
}
.search > form button:hover {
	background: linear-gradient(to right, #267871, #136a8a);
	transform: translateZ(-2px);
	box-shadow: 3px 4px 6px 0px rgba(0,0,0,0.3);
	
}
